body {
  text-align: center;
  font-family: "Roboto Serif", serif;
  font-size: 18px;
  background-color: #16213e;
  color: #ffffde;
}

h2 {
  margin-top: 10px;
}

h2,
h4 {
  color: #fe4271;
  font-weight: bold;
}

ul {
  list-style: none;
}

li {
  text-transform: capitalize;
}

.form {
  margin: 20px;
}

.button {
  cursor: pointer;
  background: #fe4271;
  border-radius: 10px;
  border-color: #fe4271;
  color: #ffffde;
  font-weight: bold;
  box-shadow: none;
}

.author {
  font-size: x-small;
}

#icon {
  margin-right: 5px;
  height: 50px;
  width: 50px;
}

.active {
  cursor: default;
  color: white;
  text-decoration: none;
}

.active:hover {
  text-decoration: none;
}

#celsius-link,
#fahrenheit-link {
  font-size: small;
  color: white;
}

#code-url {
  color: #fe4271;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
}

.forecast-date {
  color: #fe4271;
  font-weight: bolder;
  text-decoration: underline;
  text-align: center;
  font-size: 16px;
}

.forecast-temperatures {
  font-size: 14px;
}

.forecast-min {
  opacity: 0.5;
}